* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.app__hero {
  min-height: 576px;
  background: #242832;
}

.header__container,
.about__container,
.footer__container {
  padding-left: 24px;
  padding-right: 24px;
}
